<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="TestNG Regression Suite" thread-count="3" parallel="tests" verbose="4">

	<test name="Google Test">
		<parameter name="url" value="https://www.google.com"></parameter>
		<parameter name="browser" value="chrome"></parameter>
		<classes>
			<class name="TestngSessions.GoogleTest" />
		</classes>
	</test>


	<test name="Amazon Test">
		<parameter name="url" value="https://www.amazon.com"></parameter>
		<parameter name="browser" value="firefox"></parameter>
		<classes>
			<class name="TestngSessions.AmazonTest" />
		</classes>
	</test>

	<test name="OpenCart Test">
		<parameter name="url" value="https://naveenautomationlabs.com/opencart/"></parameter>
		<parameter name="browser" value="Edge"></parameter>
		<classes>
			<class name="TestngSessions.OpenCartTest" />
		</classes>
	</test>


</suite>